@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #f0bc42;
    --background-secondary: #2b3d41;
    --background-tertiary: #6c4330;
    --foreground-primary: #2b3d41;
    --foreground-secondary: #b3b3b3;
    --primary: #4ba3c3;
    --accent: #ffb74d;
    --border-primary: #fff8eb;
  }
}

#root {
  white-space: pre-line;
}

html {
  font-family: "Press Start P2", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
