@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #f0bc42;
    --background-primary-hover: #d2a337;
    --background-secondary: #2b3d41;
    --background-secondary-hover: #232d2f;
    --background-secondary-light: #36464a;
    --background-tertiary: #6c4330;
    --background-tertiary-hover: #6c4330;
    --foreground-primary: #fff8eb;
    --foreground-primary-hover: #ffffff;
    --foreground-secondary: #2b3d41;
    --foreground-secondary-hover: #36464a;
    --accent: #f95738;
    --accent-hover: #bc412a;
    --accent-light: #f97055;
    --border-light: #fff8eb;
    --border-dark: #000000;
    --modal-overlay: rgba(255, 255, 255, 0.5);
    --ring-accent: rgb(221, 158, 146);
    --ring-primary: #2f5793;
  }
}

#root {
  white-space: pre-line;
}

html {
  overflow: hidden;
  font-family: "Press Start 2P", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
